<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supplies</title>
</head>
<body>
<h2>Supplies</h2>
<form action="/">
    <input type="submit" value="Go Back" />
</form>
<form action="/deletesupplies" method="post">
    <input type="submit" value="Delete Table" />
</form>
<table border="1">
    <tr>
        <th>product</th>
        <th>site</th>
        <th>quantity</th>
        <th>date</th>
    </tr>
    <tr th:each = "supply: ${supplies}">
        <td th:text="${supply.product}">product_name</td>
        <td th:text="${supply.site}">product_site</td>
        <td th:text="${supply.quantity}">product_quantity</td>
        <td th:text="${supply.date}">product_date</td>
    </tr>
</table>

</body>
</html>